@{
    ViewBag.Title = "主页";
    Layout = "~/Areas/s/Views/Shared/_MainLayout.cshtml";
}

<div id="tt" class="easyui-tabs" style="width:auto;height:250px;">
</div> 
<script>
    var tabList = [];
    function AddTabs(title, url) {
        var tb = true;
        for (var i = 0,len=tabList.length; i < len; i++) {
            if (tabList[i] == title) {
                console.log($('#tt').tabs());
                console.log(tabList+'-'+title);
                tb = false;
            }
        }
        if (tb) {
            tabList.push(title);
            $('#tt').tabs('add', {
                title: title,
                closable: true,
                fit: true,
                href: url,
                tools: [{
                    handler: function () {

                    }
                }]
            });
        }
    }
</script>
