<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/easyui/demo/demo.css" rel="stylesheet" />
    <style type="text/css">
        body {height:100%}
    </style>
    <script src="~/easyui/jquery.min.js"></script>
    <script src="~/easyui/jquery.easyui.min.js"></script>
</head>
<body>
    <div id="system_main" class="easyui-layout" style="width: auto;min-height:550px; max-height:700px;">
        <div data-options="region:'north'" style="height:100px"></div>
        <div id="p" data-options="region:'west'" title="West" style="width: 150px; padding: 10px">
            
        </div>
        <div data-options="region:'center'" title="Center">
            @RenderBody()
        </div>
    </div>
    <script>
        $(function () {
            var height = $('body').height();
            $('#system_main').css({height:height});
        });
    </script>
</body>
</html>
